---
# Setup Java on System

- name: Install add-apt-repostory
  become: yes
  apt: name=software-properties-common state=latest

# Adding Open Java repository
- name: Add Open Java8 Repository
  become: yes
  apt_repository: repo='ppa:openjdk-r/ppa'

# Updating cache
- name: Update apt cache if repository just added.
  apt: update_cache=yes

# Installing Java8
- name: Install Oracle Java 8
  become: yes
  apt: name={{item}} state=installed
  with_items:
    - "{{ java_version_debian }}-jdk"
    - "{{ java_version_debian }}-jre"

- name: To set environment variable
  template:
    src: environment.j2
    dest: /etc/environment

- name: To source java environment
  shell: source /etc/environment
