---

- name: To download and install java
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - java-1.8.0-openjdk-headless
    - java-1.8.0-openjdk-devel
    
- name: To create JAVA Environment
  template:
    src: environment.Rhel.j2
    dest: /etc/environment
    
- name: Copy the Environment file
  template:
    src: java.j2
    dest: /root/java.sh
    mode: 655
 
- name: run script on the machine
  command: /bin/bash /root/java.sh
